# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vscode/
*.VC.db
*.suo
*.user
*.opensdf
*.log
*.tlog
*.pdb
*.idb
*.ipch
*.aps
*.ncb
*.sdf
*.cache
*.tmp

# OS Specific
.DS_Store
Thumbs.db
